@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
$theme-font: "Muli", sans-serif;
$main-color: #8ed89e;
$color-categories-title: #8ed89e;
$header-color: #8ed89e;
$Footer-color: #8ed89e;
